<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">



    <title th:text="'artdemo' + ${title == null ? '' : ' :: ' + title}">artdemo</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">Art Finder</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
<!--                    <li><a th:href="@{/search}">Search</a></li>-->
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>